.SignUpPage-Step2 {
  width: 680px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  padding: 37px 150px;
  margin: 0 auto;
}

.SignUpPage-Step2Title {
  margin: 0 0 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.SignUpForm_step_2 {
  box-shadow: none;
  padding: 0;
}

.SignUpForm_step_2 .SignUpForm-InputWrapper {
  max-width: 300px;
  margin: 0 auto 15px;
}

.SignUpForm_step_2 .SignUpForm-Submit {
  max-width: 300px;
  background-color: #5181b8;
  margin: 0 auto;
}

.SignUpForm_step_2 .SignUpForm-Submit_disabled {
  opacity: .8;
  cursor: default;
}
