.Tabs {
  max-width: 300px;
  display: flex;
  padding-left: 14px;
  float: left;
}

.Item {
  font-size: 14px;
  color: #656565;
  border-bottom: 2px solid transparent;
  padding: 18px 6px 18px;
  cursor: pointer;
  margin-right: 6px;
}

.Item_active {
  border-bottom-color: #5181b8;
  color: #000;
}

.ItemCount {
  font-size: 13px;
  color: #939393;
  padding-left: 6px;
}
