.Select {
  height: 35px;
  font-size: 14px;
  color: rgb(124, 127, 130);
  background: url(../../../Messages/assets/back.png) no-repeat calc(100% - 8px) 50% / 12px;
  border: 1px solid #d3d9de;
  border-radius: 3px;
  text-overflow: ellipsis;
  cursor: pointer;
  outline: none;
}

.SelectValue {
  display: block;
  height: 100%;
  padding: 7px 24px 8px 12px;
}

.Select_expanded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.Select_expanded .SelectValue {
  margin-bottom: 1px;
}

.Select_filled .SelectValue {
  color: #000;
}

.Select_error {
  border-color: #ff4c4c;
}

.SelectList {
  width: calc(100% + 2px);
  max-height: 200px;
  overflow: scroll;
  background: #fff;
  position: relative;
  left: -1px;
  border: 1px solid #d3d9de;
  border-top: none;
}

.SelectOption {
  height: 32px;
  padding: 7px 0 9px 12px;
  color: #000;
  font-size: 14px;
  overflow: hidden;
}

.SelectOption:hover {
  background: #e7edf2;;
}

.SelectInput {
  opacity: 0;
  height: 0;
  width: 0;
  border: none;
  font-size: 0;
  position: absolute;
}
