.SignUpForm {
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  background: #fff;
  padding: 25px;
}

.SignUpForm_step_2 {
  box-shadow: none;
  padding: 0;
}

.SignUpForm_step_2 .InputWrapper {
  max-width: 300px;
  margin: 0 auto 15px;
}

.SignUpForm_step_2 .Submit {
  max-width: 300px;
  background-color: #5181b8;
  margin: 0 auto;
}

.SignUpForm_step_2 .Submit_disabled {
  opacity: .8;
  cursor: default;
}

.Title {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.Subtitle {
  color: #656565;
  font-size: 12.5px;
  font-weight: 400;
  text-align: center;
  padding: 5px 0 21px;
}

.InputWrapper {
  margin-bottom: 15px;
}

.Birthday {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.DaySelect,
.YearSelect {
  width: 72px;
}

.MonthSelect {
  width: 122px;
}

.Submit {
  display: block;
  width: 100%;
  height: 35px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  background-color: #5fb053;
  border-radius: 3px;
  border: none;
  padding-bottom: 2px;
  cursor: pointer;
  outline: none;
}
