.SignUpPage-StepWrapper {
  width: 680px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  padding: 37px 150px;
  margin: 0 auto;
}

.SignUpPage-RightColumn {
  width: 33%;
  float: right;
}
