.UserInfoGroup {
  border-top: 1px solid #e7e8ec;
  padding-bottom: 20px;
}

.UserInfoGroup-Title {
  background: #fff;
  position: relative;
  top: -10px;
  padding-right: 6px;
}

.UserInfoGroup-Edit {
  border: none;
  background: #fff;
  font-size: 13px;
  color: #929eb0;
  cursor: pointer;
  float: right;
  position: relative;
  top: -10px;
  margin-bottom: -10px;
  padding-left: 6px;
  transition: ease .1s opacity;
  opacity: 0;
  outline: none;
}

.UserInfoGroup-Edit:hover {
  text-decoration: underline;
}

.UserInfoGroup:hover .UserInfoGroup-Edit {
  opacity: 1;
}

.UserInfoGroup-NoInfo {
  display: block;
  color: #828282;
  padding-left: 165px;
  margin-top: 5px;
  margin-bottom: -5px;
}
